@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important; 
  background-color: #020617;
  position: fixed;
}

#__next, [data-nextjs-scroll-focus-boundary] {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.text-shadow {
  text-shadow: 0 0 5px rgba(0, 243, 255, 0.5);
}
